{% load static %}
<!-- Footer Start -->
<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text mb-4">İletişim Bilgilerimiz:</h5>
            <!--<p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>-->
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>{{sayfaayarlari.adres}}</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>{{sayfaayarlari.email}}</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>{{sayfaayarlari.telefon}}</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    
                </div>
                
                <div class="col-md-4 mb-5">
                   
                   
                    
                    <h6 class="text-secondary text mt-4 mb-3">Bizi Sosyal Medyada Takip Edin</h6>
                    <div class="d-flex">
                        <a class="btn btn-primary btn-square mr-2" href="http://{{sayfaayarlari.twitter}}"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="http://{{sayfaayarlari.facebook}}"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="http://{{sayfaayarlari.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-square" href="http://{{sayfaayarlari.instagram}}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                by
                <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="{%static 'home/img/payments.png'%}" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'home/lib/easing/easing.min.js'%}"></script>
<script src="{% static 'home/lib/owlcarousel/owl.carousel.min.js'%}"></script>
<script src="{% static 'home/js/jquery.waypoints.min.js'%}"></script>
<script src="{% static 'home/js/infinite.min.js'%}"></script>
<script src="{% static 'home/js/custominfinite.js'%}"></script>

<!-- Contact Javascript File -->
<script src="{% static 'home/mail/jqBootstrapValidation.min.js'%}"></script>
<script src="{% static 'home/mail/contact.js'%}"></script>

<!-- Template Javascript -->
<script src="{% static 'home/js/main.js' %}"></script>