{% extends 'homebase.html' %}
{% load i18n %}
{% block title %} Referanslar-{{ sayfaayarlari.title }} {% endblock %}
{% block description %} {{ sayfaayarlari.description }} {% endblock %}
{% block keywords %} {{ sayfaayarlari.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}


{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Ana Sayfa</a>
                    <span class="breadcrumb-item active">Referanslar</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                {{sayfaayarlari.referanslar|safe}}
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

   
{% endblock %}




